*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.swal-overlay{
    background-color: white;
}

body{
    background-color: #FFF5D5;
}

h1{
    font-size: 50px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

form{
    margin: 100px auto 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #dcffd5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000
}

form div{
    display: flex;
    flex-direction: row;
}

.titulos{
    font-size: 19px;
    width: 200px;
}

.inputs{
    flex: 1;
}

.nota{
    flex-direction: column;
    text-align: center;
    margin: 5px 0;
    font-size: 19px;
    text-shadow: 0px 0px 5px #000;
}
.boton{
    width: 200px;
    margin: 0 auto;
}

.contenedorDeCositas{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.Lote{
    background-color: #dcffd5;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}
.Validador{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dcffd5;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #000;
}
.Lote div{
    font-size: 20px;
    margin: 10px 0;
}
.Nota{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.desaparecido{
    display: none;
}
.aparecido{
    display: block;
}

#alerta{
    background-color: #ffc0cb;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

#contenedor{
    position: absolute;
    top: 0;
    right: 0;
}
#clima{
    background-color: #96f2f2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #000;
    margin-right: 50px;
    margin-top: 10px;
}